In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 ={ 
"name ": ["Manoj", "Suraj", "Mayank", "Sanket", "Vedant", "Akalank"],
"marks" : [98, 90, 90, 80, 85, 82],
"city" : ["Pune", "Karad", "Dhule", "Akola", "Sambhaji Nagar", "Panvel"]
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

     name   marks            city
0    Manoj     98            Pune
1    Suraj     90           Karad
2   Mayank     90           Dhule
3   Sanket     80           Akola
4   Vedant     85  Sambhaji Nagar
5  Akalank     82          Panvel

In [5]:
df.to_csv('friends.csv')

In [6]:
df.to_csv('friends_noIndex.csv', index = False)

In [7]:
df.head(3)

    name   marks   city
0   Manoj     98   Pune
1   Suraj     90  Karad
2  Mayank     90  Dhule

In [8]:
df.tail(2).head(1)

    name   marks            city
4  Vedant     85  Sambhaji Nagar

In [9]:
df.head(1).tail(2)

   name   marks  city
0  Manoj     98  Pune

In [10]:
df.tail(2).head(2)

     name   marks            city
4   Vedant     85  Sambhaji Nagar
5  Akalank     82          Panvel

In [11]:
df.describe()   #will give the different properties of numerical cols

           marks
count   6.000000
mean   87.500000
std     6.565059
min    80.000000
25%    82.750000
50%    87.500000
75%    90.000000
max    98.000000

In [12]:
trains = pd.read_csv('Train_Data.csv')

In [13]:
trains

   Train No  Speed    start      dest
0     12568      80   Pune      Daund
1    133352      90   Pune   Baramati
2     14859      70  Mumbai    Nagpur
3     16623     120  Mumbai   Solapur

In [14]:
trains[speed]

NameError: name 'speed' is not defined

In [15]:
trains[Speed]

NameError: name 'Speed' is not defined

In [16]:
trains['Speed']

KeyError: 'Speed'

In [17]:
trains['start']

0     Pune
1     Pune
2    Mumbai
3    Mumbai
Name: start, dtype: object

In [18]:
trains['Speed']

KeyError: 'Speed'

In [19]:
trains['Speed']

KeyError: 'Speed'

In [20]:
trains['Train No']

0     12568
1    133352
2     14859
3     16623
Name: Train No, dtype: int64

In [21]:
trains['Train No'][0] = 15555

C:\Users\manoj\AppData\Local\Temp\ipykernel_25204\4292273834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trains['Train No'][0] = 15555

In [22]:
trains

   Train No  Speed    start      dest
0     15555      80   Pune      Daund
1    133352      90   Pune   Baramati
2     14859      70  Mumbai    Nagpur
3     16623     120  Mumbai   Solapur

In [23]:
trains.to_csv('Train_Data.csv', index = False)

In [24]:
trains.index = [10, 20, 30, 40]

In [25]:
trains

    Train No  Speed    start      dest
10     15555      80   Pune      Daund
20    133352      90   Pune   Baramati
30     14859      70  Mumbai    Nagpur
40     16623     120  Mumbai   Solapur